## Shows
1. Life on Mars
2. Santa Clarita Diet 
3. Arrow
4. Rookie
5. Supernatural
6. Castle
7. Mr. In Between
8. Mash
9. Better Call Saul
10. Reacher
11. Arrow
12. The Walking Dead
13. Primeval
14. Outlander
15. Torchwood
16. Star Trek Lower Decks ---> Contingent on my finishing SW
17. Fellow Travelers (tlk to him first)
18. Expanse
19. Daredevil
20. Jessica Jones
21. Sons of Anarchy
22. Only Sons and Horsea (Randy)
23. Peacemaker
24. Resident Alien
25. Black Adder
26. Black Books
27. Black Sails
28. The Inbetweeners

### In Media Res
1. Dr. Who S4E?
2. Preacher
3. How I met Your Mother S2E?
4. Breaking Bad S2E1
5. Red dwarf S1E5