build
node_modules/

.vs**
.idea**

# IDE specific config
**/.vs*/
**/.idea/

# build artifacts
build
node_modules
.npm

## build artifacts from other branchs
.svelte-kit

# environment variables and secrets
**.env*


# scratch files and directories
scratch*
**scratch**
scratch*.*
**/scratch**
**/scratch/**
**/scratch/**.*
**old**
