# IDE specific config
**/.vs*/
**/.idea/

# Secrets
*.env**

# build artifacts
build
node_modules
.npm

## build artifacts from other branches
.svelte-kit
.svelte*
.astro


# scratch files and directories
scratch*
**scratch**
scratch*.*
scratch**.*
**/scratch**
**/scratch/**
**/scratch/**.*
**old**