# IDE specific config
**/.vs*/
**/.idea/

# build artifacts
build
node_modules
.npm
build

# scratch files and directories
scratch*
**scratch**
scratch*.*
scratch**.*
**/scratch**
**/scratch/**
**/scratch/**.*
**old**