@fontSheet: '@styles/themes/fonts/';
@import "@{fontSheet}/bravegrumpy.less";

@logoText: #textStyles.logoText();
@logoSubtitle: #textStyles.logoSubtitle();
@pageTitle: #textStyles.pageTitle();
@pageSubtitle: #textStyles.pageSubtitle();
@navMenuDefault: #textStyles.navMenuDefault();
@navMenuActive: #textStyles.navMenuActive();
@heading: #textStyles.heading();
@bodyText: #textStyles.bodyText();
@footerText: #textStyles.footerText();