@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

#textStyles {
    @defaults: {
        font-optical-sizing: auto;;
        font-weight: normal;
        font-size: 1rem;
        font-family: monospace;
    }

    .fontStyle(@style: normal) when ((@style = normal) or (@style = italic)) {
        font-style: @style;
    }
//    @weight: 400, @font: "Grenze Gotisch", @size: 96px
    .logoText(@weight: 400; @font: "Grenze Gotisch"; @size: 96px){
        @defaults();
        .fontStyle();
        font-weight: @weight;
        font-family: @font, serif;
        font-size: @size;
    }

    .logoSubtitle(@weight: 600; @font: "Texturina"; @size: 20px){
        @defaults();
        .fontStyle(italic);
        font-size: @size;
        font-family: @font, serif;
        font-weight: @weight;
    }

    .recursive (
        @slant: 0;
        @casual: 0;
        @cursive: 0;
        @mono:1
    ) {
        @defaults();
        .fontStyle();
        font-family: "Recursive", monospace;
        font-variation-settings: "slt" @slant, "CASL" @casual, "CRSV" @cursive, "MONO" @mono;
    }

    .pageTitle(@weight: 600; @size: 64px) {
        font-size: @weight;
        font-weight: @size;
        .recursive(0, 1, 1, 0);
    }

    .pageSubtitle(@weight: 300; @size: 24px) {
        .recursive(-8, 1, 1, 1);
        font-size: @size;
        font-weight: @weight;
    }

    .navMenuDefault(@weight: 600; @size: 32px) {
        .recursive(-8, 1, 1, 0);
        font-size: @size;
        font-weight: @weight;
    }

    .navMenuActive(@weight: 900; @size: 32px) {
        .recursive(0, 1, 1, 0.51);
        font-size: 32px;
        font-weight: 900;
    }

    .heading(@weight: 700; @size: 32px) {
        font-size: @size;
        font-weight: @weight;
        .recursive(0, 1, 0.5, 0.57);
    }

    .bodyText(@weight: 400; @size: 16px) {
        font-weight: @weight;
        font-size: @size;
        .recursive(0, 0, 0, 0);
    }

    .footerText(@weight: 400; @size: 20px) {
        @defaults();
        .fontStyle();
        font-weight: @weight;
        font-size: @size;
        .recursive(0, 0, 0, 0);
    }
}