/*
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Recursive:slnt,wght,CASL,CRSV,MONO@-8,300..1000,0..1,0..1,0..1&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

@font-face {
    font-family: "Recursive";
    src: url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');
    font-weight: 300 1000;
    font-display: swap;
}

@font-face {
    font-family: "Grenze Gotisch";
    src: url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Texturina";
    src: url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
    font-weight: 100 900;
    font-display: swap;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');

#textStyles {
    .recursive(@size: 1rem; @monospace: 0; @casual: 0; @weight: 400; @slant: -3; @cursive: 0.5;) {
        font-family: "Recursive", monospace;
        font-size: @size;
        font-variation-settings:
            "MONO" @monospace,
            "CASL" @casual,
            "wght" @weight,
            "slnt" @slant,
            "CRSV" @cursive;
    }

    .fonts() {
        .logoText(@weight: 400; @font: "Grenze Gotisch"; @size: 6rem) {
            font-optical-sizing: auto;
            font-weight: @weight;
            font-family: @font;
            font-size: @size;
        }

        .logoSubtitle(@weight: 600; @font: "Texturina"; @size: 1.5px) {
            font-optical-sizing: auto;
            font-style: italic;
            font-size: @size;
            font-family: @font;
            font-weight: @weight;
        }

        .pageTitle(@weight: 600; @size: 4rem;) {
            .recursive(
                @size;
                @slant: -8;
                @weight; 
                @casual: 1; 
                @cursive: 1; 
                @monospace: 0
                );
        }

        .pageSubtitle(@weight: 300; @size: 1.5rem;) {
            .recursive(
                @size;
                @slant: 0;
                @weight; 
                @casual: 1; 
                @cursive: 1; 
                @monospace: 0
                );
        }

        .navMenuDefault(@weight: 600; @size: 2rem;) {
            .recursive(
                @size;
                @slant: -8;
                @weight; 
                @casual: 1; 
                @cursive: 1; 
                @monospace: 0
                );
        }

        .navMenuActive(@weight: 900; @size: 2rem;) {
            .recursive(
                @size;
                @slant: 0;
                @weight; 
                @casual: 1; 
                @cursive: 0.5; 
                @monospace: 0.5
                );
        }

        .heading(@weight: 700; @size: 2rem) {
            .recursive(
                @size;
                @slant: 0;
                @weight; 
                @casual: 1; 
                @cursive: 0.5; 
                @monospace: 0.57
                );
        }

        .bodyText(@weight: 400; @size: 1rem) {
            .recursive(
                @size;
                @slant: 0;
                @weight; 
                @casual: 0; 
                @cursive: 0; 
                @monospace: 0
                );
        }

        .footerText(@weight: 400; @size: 1.25rem;) {
            .recursive(
                @size;
                @slant: 0;
                @weight; 
                @casual: 0; 
                @cursive: 0; 
                @monospace: 0
                );
        }
    }
}