<script>

import Post2 from './post2.svx';
import Post3 from './post3.svelte';
import Post4 from './post4.svelte';

const { open=false } = $props();

</script>

<Post4 {open} />
<Post3 {open} />
<Post2 {open} />