@themes: '@styles/themes/colors';

@import "@{themes}/bravegrumpy.less";
@import "@{themes}/solarized.less"; 

@fontSheet: '@styles/themes/fonts';
@import "@{fontSheet}/bravegrumpy.less";

#textStyles();

@bgs: "@styles/themes/assets/backgrounds";
@import "@{bgs}/checker.less";


@borderRadius: 5px;
@UIBorderThickness: 2px solid;
@elementBorder: 2px solid;
@buttonBorder: 5px solid;