@themes: '@styles/themes/colors';

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

@import "@{themes}/bravegrumpy.less";
@import "@{themes}/solarized.less"; 

@fontSheet: '@styles/themes/fonts';
@import "@{fontSheet}/bravegrumpy.less";

#textStyles();

@bgs: "@styles/themes/assets/backgrounds";
@import "@{bgs}/checker.less";


@borderRadius: 5px;
@UIBorderThickness: 2px solid;
@elementBorder: 2px solid;
@buttonBorder: 5px solid;