---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/components/Navigation.astro";
import UIButton from "@/components/UIButton.astro";
import PageTitle from "@/components/PageTitle.svelte";

import { navigation } from "@/scripts/navigation.js";

const pageTitle = "Creating Components";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is a list of various components that I've made. I'm using it to be able to visually see the changes I'm making.</p>

    
    <Navigation props={navigation}/>
    <UIButton icon="hugeicons:github"/>
    <PageTitle client:load />
</BaseLayout>