---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Logo from "@components/Logo.svelte";
import Navigation from "@components/Navigation.astro";
import PageTite from "@components/PageTitle.svelte";
import { colors } from "@/scripts/data.js";

const navigation = {
    routes: [{
        href: "#",
        text: "Nav Button",
        className: "default",
    }],
};

navigation["backgroundColor"] = colors.bravegrumpy.logoPurple;
navigation["darkBackgroundColor"] = colors.bravegrumpy.accent2a;
navigation["width"] = "500px";

const pageTitle = "Creating Components";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is a list of various components that I've made. I'm using it to be able to visually see the changes I'm making.</p>

</BaseLayout>