---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/components/Navigation.astro";
import UIButton from "@/components/UIButton.astro";
import PageTitle from "@/components/PageTitle.astro";

function isActive(href: string): string {
    const url = new URL(import.meta.url);
    const pathname = url.pathname;
    const segments = pathname.split("/");
    const fileName = segments.slice(-1)[0];
    const fN = fileName[0] === "/" ? fileName.slice(1) : fileName;
    const slug = fN?.replace(/\.[^/.]+$/, '/');

    return href === slug ? "active" : "default";
}

const nav = {
    routes: [
        {
            href: "/",
            className: isActive("/"),
            text: "home",
        },
        {
            href: "/about/",
            className: isActive("/about/"),
            text: "about",
        },
        {
            href: "/blog/",
            className: isActive("/blog/"),
            text: "blog",
        },
        {
            href: "/headers/",
            className: isActive("/headers/*"),
            text: "headers",
        },
        {
            href: "/components",
            className: "active",
            text: "components",
        }
    ],
};

const pageTitle = "Creating Components";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is a list of various components that I've made. I'm using it to be able to visually see the changes I'm making.</p>
    <Navigation props={nav}/>
    <UIButton icon="hugeicons:github"/>
    <PageTitle />
</BaseLayout>