---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/components/Navigation.astro";

function isActive(href: string): string {
    const url = new URL(import.meta.url);
    const pathname = url.pathname;
    const segments = pathname.split("/");
    const fileName = segments.slice(-1)[0];
    const fN = fileName[0] === "/" ? fileName.slice(1) : fileName;
    const slug = fN?.replace(/\.[^/.]+$/, '/');

    return href === slug ? "active" : "default";
}

const nav = {
    routes: [
        {
            href: "/",
            className: isActive("/"),
            text: "home",
        },
        {
            href: "/about/",
            className: isActive("/about/"),
            text: "about",
        },
        {
            href: "/blog/",
            className: isActive("/blog/"),
            text: "blog",
        },
        {
            href: "/headers/",
            className: isActive("/headers/*"),
            text: "headers",
        },
        {
            href: "/components",
            className: "active",
            text: "components",
        }
    ],
};

const pageTitle = "Creating Components";
---

<BaseLayout pageTitle={pageTitle}>
    <Navigation props={nav}/>
    <p style="font-family: Recursive; font-variation-settings: 'slnt' -15, 'wght' 800, 'CASL' 1, 'CRSV' 1, 'MONO' 1;">This is some testing to see if slant works.</p>

    <p class="font-test">This is another test tto seee if fonts are loading from files.</p>
</BaseLayout>

<style>
    .font-test {
    font-family: "Recursive", monospace;
    font-variation-settings: 
        "MONO" 1,
        "CASL" 1,
        "wght" 800,
        "slnt" -15,
        "CRSV" 1;
}
</style>