---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeSwitch from './ThemeSwitch.astro';
import Logo from './Logo.svelte';
import Title from './Title.astro';
---
<header>
    <Title />
    <Logo />
    <nav>
	    <Hamburger size="50px"/>
        <ThemeSwitch />
	    <Navigation />
    </nav>
</header>