---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeSwitch from './ThemeSwitch.astro';
import Logo from './Logo.svelte';
---
<header>
    <Logo />
    <nav>
	    <Hamburger size="50px"/>
        <ThemeSwitch />
	    <Navigation />
    </nav>
</header>