---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeSwitch from './ThemeSwitch.astro';
---

<header>
    <nav>
	    <Hamburger size="50px"/>
        <ThemeSwitch />
	    <Navigation />
    </nav>
</header>
