---
import Logo from './Logo.svelte';
import Navigation from './Navigation.astro';
import PageTitle from './PageTitle.svelte';
import ThemeSwitch from './ThemeSwitch.astro';
import '@styles/declarations.less';

import { navigation, colors } from '@/scripts/data.js';

const { 
    pageTitle, 
    pageSubtitle, 
    active, 
    subnav={
        width: "100%",
        backgroundColor: colors.bravegrumpy.logoPurple, 
        darkBackgroundColor: colors.bravegrumpy.accent2a, 
        routes:[]} 
    } = Astro.props;

navigation.routes.forEach((route) => (
    route.className = active === route.href ? "active" : "",
    route.palette = {
        defaultBackgroundColor: colors.bravegrumpy.accent1a,
        defaultColor: colors.bravegrumpy.logoPurple,
        defaultActiveColor: colors.bravegrumpy.brand1,
        darkBackgroundColor: colors.bravegrumpy.brand1,
        darkDefaultColor: colors.bravegrumpy.accent1a,
        darkActiveColor: colors.bravegrumpy.highlight1
    }
));


navigation["width"] = '100%';
navigation["backgroundColor"] = colors.bravegrumpy.accent1a;
navigation["darkBackgroundColor"] = colors.bravegrumpy.logoPurple;
navigation["justifyContent"] = "flex-end";
---

<header>
    <div class="container">
        <div class="top">
            <div id="top-logo">
                <Logo>
                    <ThemeSwitch slot="switch" />
                </Logo>
            </div>
            <div id="top-nav">
                <Navigation props={navigation} />
            </div>
        </div>
        <div class="middle">
            <PageTitle
                pageTitle={pageTitle}
                pageSubtitle={pageSubtitle} 
            />
        </div>
        <div class="bottom">
            <Navigation props={subnav} />
        </div>
    </div>
</header>

<style lang="less">
    @import '@styles/declarations.less';

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0 auto;
        gap: 0rem;
        background-color: @accent1a;
        margin-bottom: 3rem;
    }

    .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 0px;

        #top-nav {
            padding-bottom: 5rem;
            flex-basis: 100%;
            flex-grow: 2;
        }

        #top-logo {
            flex-basis: 50%;
            flex-shrink: 2;
        }
    }

    .middle {
        max-width: 40rem;
        width: fit-content;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(-20%, 25%);
    }
    .bottom {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        width: 100%;
        padding-top: 0px;
    }

    :global(.dark){
        .container{
            background-color: @logoPurple;
        }
        .top{
            background-color: @logoPurple;
        }
        .middle{}
        .bottom{
            background-color: @accent2a;
        }
    }

    @media (max-width: 1200px) {
        .container {
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 1.5rem;
            padding-bottom: $gap;
        }
        .middle{
            position: absolute;
            top: 100%;
            max-width: 100%;
            width: 100%;
            order: 3;
            transform: translate(0, 0);
        }
        .top {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1.5rem;

            #top-nav {
                padding: $gap;
                align-self: center;
                border-radius: @borderRadius;
                border: @borders[button] @brand1;
            }
        }

        .bottom {
            display: none;
        }

        :global(.dark) {}
    }
</style>