---
import Logo from './Logo.svelte';
import ThemeSwitch from './ThemeSwitch.astro';
import Navigation from './Navigation.astro';

import { navigation } from "@scripts/navigation.js";

const currentPage = Astro.url.pathname;
---
<header>
    <div class="logo">
        <Logo size={"105rem"}>
            <img
                src="/favicon.png"
                alt="BraveGrumpy Logo"
                slot="image"
                width="110"
                style="border-radius: 5px"
            />
            <ThemeSwitch slot="switch" />
        </Logo>
    </div>
    <Navigation props={navigation} />
</header>

<style lang="less">
    @import "../styles/declarations.less";
    
    :global(.dark) {
        header {
            .logo {
                background-color: @logoPurple;
            }
        }
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0px;
        width: 100%;
        
        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: space-between;
            width: 100%;
            gap: 10rem;
            background-color: @accent1a;
        }
    }
</style>