---
import Logo from './Logo.svelte';
import ThemeSwitch from './ThemeSwitch.astro';
import Navigation from './Navigation.astro';
import '@styles/declarations.less';

import { navigation, colors } from '@/scripts/data.js';

navigation.routes.forEach((route) => (
    route.className = Astro.url.pathname === route.href ? "active" : "default",
    route.palette = {
        defaultBackgroundColor: colors.bravegrumpy.brand1,
        defaultColor: colors.bravegrumpy.accent1a,
        defaultActiveColor: colors.bravegrumpy.highlight1,
        darkBackgroundColor: colors.bravegrumpy.accent1a,
        darkDefaultColor: colors.bravegrumpy.logoPurple,
        darkActiveColor: colors.bravegrumpy.brand1
    }
));


navigation["width"] = '100%';
navigation["backgroundColor"] = colors.bravegrumpy.logoPurple;
navigation["darkBackgroundColor"] = colors.bravegrumpy.accent2a;
navigation["justifyContent"] = "flex-start";
---
<header>
    <div class="logo">
        <Logo size={"105rem"}>
            <img
                src="/favicon.png"
                alt="BraveGrumpy Logo"
                slot="image"
                width="110"
                style="border-radius: 5px"
            />
            <ThemeSwitch slot="switch" />
        </Logo>
    </div>
    <Navigation props={navigation} />
</header>


<style lang="less">
    @import "../styles/declarations.less";
    
    :global(.dark) {
        header {
            .logo {
                background-color: @logoPurple;
            }
        }
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0px;
        width: 100%;
        
        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: space-between;
            width: 100%;
            gap: 10rem;
            background-color: @accent1a;
        }
    }
</style>