---
import Logo from './Logo.svelte';
import ThemeSwitch from './ThemeSwitch.astro';
import Navigation from './Navigation.astro';
const currentPath = Astro.url.pathname;
const pages = await Astro.glob('../pages/*.astro');

function active(href) {
    return currentPath === href ? "active" : "default";
}



let nav = { routes: [
    {
        href: "/",
        className: active("/"),
        text: "home",  
    },
    {
        href: "/about",
        className: active("/about"),
        text: "/about".substring(1),  
    },
    {
        href: "/blog",
        className: active("/blog"),
        text: "/blog".substring(1),  
    },
    {
        href: "/headers",
        className: active("/headers"),
        text: "/headers".substring(1),  
    },
    {
        href: "/components",
        className: active("/components"),
        text: "/components".substring(1),  
    }
]}

---
<header>
    <div class="logo">
        <Logo client:load size="105rem">
            <ThemeSwitch slot="switch" />
        </Logo>
    </div>
    <Navigation props={nav} />
</header>

<style lang="less">
    @import "../styles/declarations.less";
    
    :global(.dark) {
        header {
            .logo {
                background-color: @logoPurple;
            }
        }
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 0px;
        width: 100%;
        
        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: space-between;
            width: 100%;
            gap: 10rem;
            background-color: @accent1a;
        }
    }
</style>