---
let { 
    className, 
    href, 
    text,
    defaultBackgroundColor = '#6e34a2',
    defaultColor = '#d2c8ff',
    defaultActiveColor = '#d1dcff',
} = Astro.props;
---
<a class=`navButton ${className}` href={href}>{text}</a>

<style lang="less" define:vars={{defaultBackgroundColor, defaultColor, defaultActiveColor}}>
    @import "@styles/declarations.less";

    .navButton {
        padding: 0.5rem 1rem;
        border-radius: @borderRadius;
        border: @borders[button];
        background-color: var(--defaultbackgroundColor);
        text-decoration: none;
        height: fit-content;
        align-self: center;
        text-transform: uppercase;
        margin-left: 1rem;
    }

    .navButton.default {
        color: var(--defaultColor);
        .fonts.navMenuDefault(@size: 1rem;);
    }

    .navButton.active {
        color: @highlight1;
        .fonts.navMenuActive(@size: 1rem;);
    }

    :global(.dark) {
        .navButton {
            background-color: @accent1a;
        }

        .navButton.default {
            color: @logoPurple;
        }

        .navButton.active {
            color: @brand1;
        }
    }
</style>