---
import { colors } from "@scripts/data.js";


const { 
    className, 
    href, 
    text,
    palette = {
        defaultBackgroundColor: colors.bravegrumpy.brand1,
        defaultColor: colors.bravegrumpy.accent1a,
        defaultActiveColor: colors.bravegrumpy.highlight1,
        darkBackgroundColor: colors.bravegrumpy.accent1a,
        darkDefaultColor: colors.bravegrumpy.logoPurple,
        darkActiveColor: colors.bravegrumpy.brand1
    },
    style = {
        fontSize: "1rem"
    }
} = Astro.props;

const defaultBackgroundColor = palette["defaultBackgroundColor"];
const defaultColor = palette["defaultColor"];
const defaultActiveColor = palette["defaultActiveColor"];
const darkBackgroundColor = palette["darkBackgroundColor"];
const darkDefaultColor = palette["darkDefaultColor"];
const darkActiveColor = palette["darkActiveColor"];

const fontSize = style["fontSize"]
---
<a class=`navButton ${className}` href={href}>{text}</a>

<style lang="less" define:vars={{defaultBackgroundColor, defaultColor, defaultActiveColor, darkBackgroundColor, darkDefaultColor,  darkActiveColor, fontSize}}>
    @import "@styles/declarations.less";

    .navButton {
        padding: 0.5rem 1rem;
        border-radius: @borderRadius;
        border: @borders[button];
        background-color: var(--defaultBackgroundColor);
        text-decoration: none;
        height: fit-content;
        align-self: center;
        text-transform: uppercase;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        color: var(--defaultColor);
        .fonts.navMenuDefault(@size: var(--fontSize););
    }

    .navButton.active {
        color: var(--defaultActiveColor);
        .fonts.navMenuActive(@size: var(--fontSize););
    }

    :global(.dark) {
        .navButton {
            background-color: var(--darkBackgroundColor);
            color: var(--darkDefaultColor);
        }

        .navButton.active {
            color: var(--darkActiveColor);
        }
    }
</style>