---
import "@styles/declarations.less"
let { className, href, text } = Astro.props;
---
<a class=`navButton ${className}` href={href}>{text}</a>

<style lang="less">
    @import "@styles/declarations.less";

    .navButton {
        padding: 0.5rem 1rem;
        border-radius: @borderRadius;
        border: @borders[button];
        background-color: @brand1;
        text-decoration: none;
        height: fit-content;
        align-self: center;
        text-transform: uppercase;
        margin-left: 1rem;
        font-family: "Recursive" monospace;
        font-optical-sizing: auto;
        font-variation-settings: "slnt" -8, "CASL" 0, "CRSV" 0, "MONO" 0;
    }

    .navButton.default {
        color: @accent1a;
        font-weight: 600;
    }

    .navButton.active {
        color: @highlight1;
        font-weight: 900;
    }

    .dark {
        .navButton {
            background-color: @accent1a;
        }
        .navButton.default {
            color: @logoPurple;
        }

        .navButton.active {
            color: @brand1;
        }
    }
</style>