---
import "@styles/declarations.less";
import NavButton from "./NavButton.astro";

const { props} = Astro.props;

const width = props.width;
const backgroundColor = props.backgroundColor;
const darkBackgroundColor = props.darkBackgroundColor;

---
<nav class="navigaion">
    {props.routes.map((route) => (
        <NavButton {...route} />
    ))}
</nav>

<style lang="less" define:vars={{width, backgroundColor, darkBackgroundColor}}>
    nav {
        background-color: var(--backgroundColor);
        width: var(--width);
        height: 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
    }

    :global(.dark) {
        nav {
            background-color: var(--darkBackgroundColor);
        }
    }
</style>