---
import "@styles/declarations.less";
import NavButton from "./NavButton.astro";

const { props } = Astro.props;

---
<nav class="container">
    {props.routes.map((route) => (
        <NavButton {...route} />
    ))}
</nav>

<style lang="less">
    @import "@styles/declarations.less";
    nav {
        background-color: @logoPurple;
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
    }

    :global(.dark) {
        nav {
            background-color: @accent2a;
        }
    }
</style>