---
import { Icon } from 'astro-icon/components';
const { platform, username } = Astro.props
---
<a href={`https://www.${platform}.com/${username}`}>
    <Icon name={`hugeicons:${platform}`}/>
    {platform}
</a>

<style>
    a {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
	    padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
	    color: white;
	    background-color: #4c1d95;
        text-decoration: none !important;
    }
    a:hover {
        background-color: #ff9776;
        color: black;

    }
    [data-icon] {
        width: 1.5rem;
        height: 1.5rem;
    }
</style>
