---
import  { Icon } from 'astro-icon/components';
---
<label class="switch">
    <input type="checkbox" id="themeToggle">
    <span class="slider"></span>
</label>

<style lang="less">
    @import '@styles/declarations.less';
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:checked + .slider {
                background-color: lighten(@brand3, 30%);
            }

            &:focus + .slider {
                box-shadow: 0 0 1px lighten(@brand3, 30%);
            }

            &:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26px' height='26px' viewBox='0 0 512 512'%3E%3Cpath fill='%23ff0' d='M320.063 19.72c-72.258 14.575-19.248 71.693-74.344 108.81c4.846-.49 9.746-.702 14.655-.624c16.288.26 32.785 3.72 48.594 10.72a126 126 0 0 1 14.25 7.405c12.107-47.476-37.103-96.38-3.158-126.31zM136.75 44.47c-40.76 61.357 36.984 64.33 24.406 129.405c17.407-21.255 41.17-35.9 67.156-42.313c-25.006-42.138-94.4-41.924-91.562-87.093zm297.313 75.405c-32.547.872-45.475 46.314-96.594 36.22c21.35 17.42 36.034 41.25 42.467 67.31c42.306-24.92 42.053-94.466 87.282-91.624c-13.43-8.92-24.06-12.15-33.158-11.905zm-177.97 26.656c-23.656.46-46.53 8.82-64.906 23.626l18.657 36.156L170 193.156a107.6 107.6 0 0 0-9.406 16.938c-8.726 19.708-11.002 40.59-7.78 60.344l44.78 2.125l-34 30.312c10.798 20.622 28.414 37.852 51.406 48.03a108 108 0 0 0 9.313 3.626l24.53-38.25l9.095 43.814c27.3.075 53.737-10.387 73.593-29.188l-19.186-37.125l38.406 12.658a109 109 0 0 0 5.03-9.938c9.746-22.01 11.457-45.498 6.44-67.22l-37.626-1.75l27.687-24.718c-10.83-20.194-28.236-37.07-50.874-47.093a107 107 0 0 0-4.125-1.72l-25.874 40.313l-9.906-47.75c-.5-.016-1-.023-1.5-.032c-1.3-.02-2.61-.024-3.906 0zM133.407 186.5c-41.652.725-82.483 34.847-108.72 5.094c14.573 72.234 71.664 19.3 108.783 74.312c-2.154-20.972.934-42.758 10.06-63.375a126 126 0 0 1 7.345-14.093c-5.822-1.47-11.642-2.038-17.47-1.937zm249.5 53.97a124.65 124.65 0 0 1-10.03 63.624l-.188.375a126 126 0 0 1-7.22 13.78c47.524 12.244 96.507-37.137 126.47-3.156c-14.603-72.388-71.92-19.04-109.032-74.625zM136.53 283.405c-42.123 25.014-41.928 94.37-87.093 91.53c61.422 40.803 64.322-37.123 129.594-24.342c-21.344-17.385-36.03-41.167-42.5-67.188zm219.064 48.906c-17.406 21.46-41.236 36.24-67.344 42.72c24.944 42.263 94.497 42.004 91.656 87.218c40.867-61.52-37.402-64.358-24.312-129.938M193.406 360.72c-12.047 47.456 37.087 96.33 3.156 126.25c72.305-14.587 19.195-71.79 74.47-108.908c-21.04 2.204-42.898-.9-63.594-10.062a126 126 0 0 1-14.032-7.28'/%3E%3C/svg%3E");
                //background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26px' height='26px' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23ff0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='32' r='6' fill='%23ff0' fill-opacity='0.3'%3E%3Canimate fill='freeze' attributeName='cy' dur='0.24s' values='32;12'/%3E%3C/circle%3E%3Cg%3E%3Cpath stroke-dasharray='2' stroke-dashoffset='2' d='M12 19v1M19 12h1M12 5v-1M5 12h-1'%3E%3Canimate fill='freeze' attributeName='d' begin='0.28s' dur='0.08s' values='M12 19v1M19 12h1M12 5v-1M5 12h-1;M12 21v1M21 12h1M12 3v-1M3 12h-1'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.28s' dur='0.08s' values='2;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='2' stroke-dashoffset='2' d='M17 17l0.5 0.5M17 7l0.5 -0.5M7 7l-0.5 -0.5M7 17l-0.5 0.5'%3E%3Canimate fill='freeze' attributeName='d' begin='0.36s' dur='0.08s' values='M17 17l0.5 0.5M17 7l0.5 -0.5M7 7l-0.5 -0.5M7 17l-0.5 0.5;M18.5 18.5l0.5 0.5M18.5 5.5l0.5 -0.5M5.5 5.5l-0.5 -0.5M5.5 18.5l-0.5 0.5'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.36s' dur='0.08s' values='2;0'/%3E%3C/path%3E%3CanimateTransform attributeName='transform' dur='12s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-color: @brand6;
                border: 1px solid @black;
            }
        }
    }

    .slider {
        position: absolute;
        cursor:  pointer;
        top:  -5px;
        left: 0;
        right: -5px;
        bottom: 0;
        background-color: lighten(@logoPurple, 5%);
        -webkit-transition: .4s;
        -moz-transition: .4s;
        transition: .4s;
        transition: .4s;
        border-radius: 34px;
        border: 2px solid @brand1;

        &:before {
            position: absolute;
            content:  "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            //background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26px' height='26px' viewBox='0 0 24 24'%3E%3Cg fill='white' fill-opacity='0'%3E%3Cpath d='M15.22 6.03l2.53-1.94L14.56 4L13.5 1l-1.06 3l-3.19.09l2.53 1.94l-.91 3.06l2.63-1.81l2.63 1.81z'%3E%3Canimate id='lineMdMoonTwotoneLoop0' fill='freeze' attributeName='fill-opacity' begin='0.28s;lineMdMoonTwotoneLoop0.begin+2.4s' dur='0.16s' values='0;1'/%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='lineMdMoonTwotoneLoop0.begin+0.88s' dur='0.16s' values='1;0'/%3E%3C/path%3E%3Cpath d='M13.61 5.25L15.25 4l-2.06-.05L12.5 2l-.69 1.95L9.75 4l1.64 1.25l-.59 1.98l1.7-1.17l1.7 1.17z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='lineMdMoonTwotoneLoop0.begin+1.2s' dur='0.16s' values='0;1'/%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='lineMdMoonTwotoneLoop0.begin+2.08s' dur='0.16s' values='1;0'/%3E%3C/path%3E%3Cpath d='M19.61 12.25L21.25 11l-2.06-.05L18.5 9l-.69 1.95l-2.06.05l1.64 1.25l-.59 1.98l1.7-1.17l1.7 1.17z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='lineMdMoonTwotoneLoop0.begin+0.16s' dur='0.16s' values='0;1'/%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='lineMdMoonTwotoneLoop0.begin+1.12s' dur='0.16s' values='1;0'/%3E%3C/path%3E%3Cpath d='M20.828 9.731l1.876-1.439l-2.366-.067L19.552 6l-.786 2.225l-2.366.067l1.876 1.439L17.601 12l1.951-1.342L21.503 12z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='lineMdMoonTwotoneLoop0.begin+1.36s' dur='0.16s' values='0;1'/%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='lineMdMoonTwotoneLoop0.begin+2.24s' dur='0.16s' values='1;0'/%3E%3C/path%3E%3C/g%3E%3Cpath fill='white' fill-opacity='0' stroke='white' stroke-dasharray='56' stroke-dashoffset='56' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 6 C7 12.08 11.92 17 18 17 C18.53 17 19.05 16.96 19.56 16.89 C17.95 19.36 15.17 21 12 21 C7.03 21 3 16.97 3 12 C3 8.83 4.64 6.05 7.11 4.44 C7.04 4.95 7 5.47 7 6 Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='0.6s' dur='0.06s' values='0;0.5'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.24s' values='56;0'/%3E%3C/path%3E%3C/svg%3E");
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26px' height='26px' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M294.8 26.57L238 60.37l7.8 13.17L281 52.59L270.8 118l6.3 10.6L336 93.53l-7.8-13.17l-37.3 22.14L301 37.12zM147.1 60.55A224 224 0 0 0 32 256a224 224 0 0 0 224 224a224 224 0 0 0 214.9-161.2A208 208 0 0 1 320 384a208 208 0 0 1-208-208a208 208 0 0 1 35.1-115.45m244.5 52.05l-6.9 16.5l44.1 18.4l-68.3 35.9l-5.5 13.2l73.7 30.8l6.9-16.5l-46.7-19.5l68.3-35.9l5.5-13.2zm-115 64l-97.8 35l8.1 22.7l60.6-21.7l-35.4 97.9l6.5 18.1L320 292.4l-8.1-22.7l-64.2 23l35.4-97.9z'/%3E%3C/svg%3E");
            background-color: darken(blue, 50%);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
</style>

<script is:inline>
    document.addEventListener('astro:page-load', () => {
        const themeToggle = document.getElementById("themeToggle");

        const applyTheme = () => {
            const isDark = localStorage.getItem("theme") === "dark";
            document.documentElement.classList.toggle("dark", isDark);
            themeToggle.checked = !isDark;
        };

        const handleToggleChange = () => {
            const isDark = !themeToggle.checked;
            localStorage.setItem("theme", isDark ? "dark" : "light");
            applyTheme();
        };

        if (!localStorage.getItem("theme")) {
            const defaultTheme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            localStorage.setItem("theme", defaultTheme);
        }
        applyTheme();

        themeToggle?.addEventListener("change", handleToggleChange);
    });
</script>
<script is:inline>
    window.addEventListener('popstate', () => {
        const isDark = localStorage.getItem("theme") === "dark";
        document.documentElement.classList.toggle("dark", isDark);
        document.getElementById("themeToggle").checked = !isDark;
    });
    document.addEventListener('astro:after-swap', applyTheme);
</script>