---
import { Icon } from 'astro-icon/components';
---
<button class="iconButton">
    <Icon name="hugeicons:wordpress" />
</button>

<style lang="less">
    .iconButton {
        all: unset;
    }
</style>