---
import { Icon } from 'astro-icon/components';

const { icon } = Astro.props;
---
<button class="iconButton">
    <Icon name=`${icon}` />
</button>

<style lang="less">
    @import "@styles/declarations.less";

    :global(.dark) {
        .iconButton {
            background-color: @brand6;
            color: @accent1a;
            box-shadow: @boxShadowDark;
        }
    }

    .iconButton {
        background-color: @accent2a;
        color: @logoPurple;
        border: @borders[UI];
        border-radius: @borderRadius;
        box-shadow: @boxShadowLight;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 4rem;
        height: 4rem;
        

        [data-icon] {
            width: 3rem;
            height: 3rem;
            stroke-width: 10px;
        }
    }
</style>