<script>
  import Article from '$lib/components/Article.svelte';
  import Section from '$lib/components/Section.svelte';
  import BaseContent from '$lib/components/BaseContent.svelte';
  import { page } from '$app/stores';
</script>


<Article>
<Section>

## This is placeholder text

{$page.url}

</Section>
</Article>