:root {
    --black: #000000;
    --white: #ffffff;
  
    --brand1: #6e34a2;
    --brand2: #61aba8;
    --brand3: #2753c0;
    --brand4: #499c2f;
    --brand5: #fa830e;
    --brand6: #654d86;
  
    --accent1a: #d2c8ff;
    --accent1b: #beb4ff;
    --accent2a: #d1dcff;
    --accent2b: #a7bcff;
  
    --dark1: #144614;
    --highlight1: #66cdaa;
  
    --logoPurple: #270d3e;
    --logoGreen: #55ab5e;

    --Recursive: 'Recursive';

    --fontRatio: 1.1;
  }