---
import { Icon } from 'astro-icon/components';
const { size } = Astro.props;
---
<div class="hamburger">
    <Icon class="icon" name="hugeicons:menu-01" />
</div>

<style define:vars={{ size }}>
    [data-icon] {
        width: var(--size);
        height: var(--size);
    }
</style>