---
import BaseLayout from './BaseLayout.astro';

const {pageTitle, pageSubtitle, currentPath} = Astro.props;
---
<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle} currentPath={currentPath}>
    <a href="/headers/">List</a>
    <a href="/headers/1/">1</a>
    <a href="/headers/2/">2</a>
    <a href="/headers/3/">3</a>
    <a href="/headers/4/">4</a>
    <a href="/headers/5/">5</a>
    <a href="/headers/6/">6</a>
    <br>
    <br>
    <hr style="border-width: 5px; border-color: black;">
    <br>
    <br>
    <slot></slot>
</BaseLayout>